@import url('https://fonts.cdnfonts.com/css/hero-new');
@import url('https://fonts.cdnfonts.com/css/hero-2');
@import url('https://fonts.cdnfonts.com/css/kawashiro-gothic');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body {
   min-height: 100vh;
} */

/* .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
} */

/* Navbar */

.navbar {
    background: linear-gradient( to right, #000000, #16222a);
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin: 0 auto;
    max-width: 90%;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo a {
    font-size: 24px;
    color: #f9faf8;
}

/* Header */

.header {
    position: relative;
}

.headerContainer {
    width: 85%;
    height: 100%;
    border-radius: 1.5rem;
    margin: 9em auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2rem rgb(69, 69, 69);
}

.headerLeft {
    color: white;
    margin: 3rem 2rem 3rem 5rem;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greetings {
    font-size: 2.2rem;
    text-shadow: 0 0 0.8rem rgb(255, 255, 255);
    text-align: center;
    font-family: "hero-2";
}

.description {
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-align: justify;
}

.moreContainer {
    margin-top: 3rem;
}

.more {
    color: wheat;
    border: 0.2rem solid white;
    border-radius: 2em;
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1.2rem;
    text-decoration: none;
    background-image: linear-gradient( to right, #000000, #16222a, 0.5 );
    transition: 0.3s;
    font-family: "hero-2";
}

.more:hover {
    transform: translateX(-3%);
    background-image: linear-gradient( to right, #000000, #16222a, 0.7 );
    box-shadow: 0 0 0.6rem white;
}

.headerRight {
    width: 50vw;
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerImage {
    width: 35vw;
}

.headerCaption {
    color: white;
    margin-top: 0.5em;
    font-size: 1.1rem;
}

/* Boxes */

.boxesBg {
    background-image: linear-gradient( to right, #000000, #16222a );
    margin-top: 18rem;
}

.boxesContent {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.boxesHeading {
    font-size: 2rem;
    text-align: center;
    color: white;
    margin: 0.5rem 1rem 1.5rem 1rem;
    font-family: "hero-2";
}

.boxesInfo {
    display: flex;
    justify-content: space-around;
    margin: 0 2.5rem;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;
}

.art {
    width: 30rem;
    height: 18rem;
    object-fit: cover;
    border: 0.3rem solid white;
    border-radius: 1.5rem;
    box-shadow: 0 10 px 30px black;
    transition: 0.3s;
    /* margin: -0.5rem -1rem -1rem -1rem; */
}

.art:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(2, 173, 164);
}

.link {
    margin: 1rem 2rem 0 2 rem;
    border-radius: 1.5rem;
}

.boxText {
    text-align: center;
    color: white;
    font-size: 1.7rem;
    margin: 1rem 0 1 rem 0;
    font-family: "hero-2";
    z-index: 2;
}

/* Quote */

.hero .container {
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .container div {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    margin: 30px 0;
    padding: 60px;  
}

.hero .quote {
    display: flex;
    justify-content: end;
    
}

/* Call */

.call {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.call .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    border-radius: 5px;
    padding: 20px 60px;
    background: linear-gradient( to right, #000000, #16222a );
    color: #f9faf8;
    height: 100px;
    /* border: 2px solid red; debug */
}

.call button {
    color: #f9faf8;
    background: #3882f6;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 15px;
}

/* Footer */

.footer {
    background: linear-gradient( to right, #000000, #16222a );
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    
}

.footer a {
    color: #e5e7eb;
    text-decoration: none;
}

.footer img {
    height: 15px;
}

@media (max-width: 1100px) {
    .headerContainer {
        flex-direction: column;
    }

    .headerLeft {
        margin: 4rem auto 0 auto;
        width: 65vw;
    }

    .headerRight {
        margin-top: 4rem;
    }

    .headerImage {
        width: 60vw;
    }

    .headerCaption {
        font-size: 2vw;
    }
}